*{
    box-sizing: border-box;
}

main{
    border: 2px solid black;
    margin-top: 5px;
}

/* sezione header */
.logo-section{
    border: 2px solid black;
    text-align: left;
    vertical-align: middle;
    padding: 10px 0;
    background-color: white;
}

.logo-toboolist, .logo-toboolist-written{
    display: inline-block;
    vertical-align: middle;
}

.logo-toboolist-written{
    font-family: sans-serif;
    font-weight: 700;
}

/* main section */
main{
    background-color: lightgray;
    font-family: sans-serif;
    font-weight: normal;
}

.buttons-section, .tasks-section{
    margin: 20px auto;
    padding: 20px 20px;
    width: 900px;
    background-color: white;
}

/* button section */
.buttons-section{
    margin-bottom: 5px;
    /* capire come mettere un margin singolo */
}

.button{
    display: inline;
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
}

.active{
    background-color: rgb(0, 174, 255);
    border: 2px solid rgb(0, 174, 255);
    color: white;
}

.non-active{
    background-color: white;
    color: grey;
    border: 2px solid grey;
}

/* tasks section */
ul{
    list-style: none;
    padding: 0 10px;
}

li{
    margin: 20px 0;
}

.task-icon{
    border: 2px solid black;
    margin: 10px 0;
    border-radius: 50%;
}

.done{
    border-color: green;
    color: green;
}

.not-done{
    border-color: red;
    color: red;
}

.category{
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px 10px;
}