*{
    box-sizing: border-box;
    font-size: 16px;
}

/* sezione header */
.logo-section{
    /* border: 2px solid black; */
    text-align: left;
    vertical-align: middle;
    padding: 10px 0;
    background-color: white;
}

.logo-toboolist, .logo-toboolist-written{
    display: inline-block;
    vertical-align: middle;
}

.logo-toboolist-written{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 36px;
}

/* main section */
main{
    background-color: rgb(237, 237, 237);
    font-family: sans-serif;
    font-weight: normal;
    /* border: 2px solid black; */
    padding: 50px 0 20px;
}

.buttons-section, .tasks-section{
    margin: 3px auto;
    padding: 20px 20px;
    width: 900px;
    background-color: white;
    border-radius: 5px;
}

/* button section */
.button{
    display: inline;
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
}

.active{
    background-color: rgb(0, 174, 255);
    border: 2px solid rgb(0, 174, 255);
    color: white;
}

.non-active{
    background-color: white;
    color: grey;
    border: 2px solid grey;
}

/* tasks section */
.tasks-section{
    margin-bottom: 20px;
}

h1{
    font-size: 24px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.tasks-section ul li *{
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

h1{
    margin-bottom: 0;
}

.task-icon{
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    margin: 0 10px 0 0;
    border-radius: 50%;
    font-size: 16px;
    padding: 0 5px;
}

.done{
    border-color: rgb(55, 151, 55);
    color: rgb(55, 151, 55);
}

.not-done{
    border-color: red;
    color: red;
}

.category{
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    font-size: 12px;
}

.editorial{
    background-color: rgb(0, 174, 255);
}

.q1-goals{
    background-color: rgb(220, 74, 220);
}

.recruiting{
    background-color: rgb(55, 151, 55);
}

.mobile{
    background-color: rgb(255, 178, 35);
}

.website{
    background-color: rgb(246, 148, 208);
}

.sales{
    background-color: rgb(15, 191, 15);
}